<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="ModelContainer" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MUTERK;initial catalog=PacmanDB;user id=User01;password=Radiohead05;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="Secure">
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="mexBehavior" name="Pacman_Sevices.Services">
        <endpoint address="RegisterServices" binding="netTcpBinding" contract="Pacman_Sevices.IRegisterService" bindingConfiguration="Secure"/>
        <endpoint address="ChatServices" binding="netTcpBinding" contract="Pacman_Sevices.IChatService" bindingConfiguration="Secure"/>
        <endpoint address="LoginService" binding="netTcpBinding" contract="Pacman_Sevices.ILoginService" bindingConfiguration="Secure"/>
        <endpoint address="ConfirmationServices" binding="netTcpBinding" contract="Pacman_Sevices.IConfirmationServices" bindingConfiguration="Secure"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081"/>
            <add baseAddress="net.tcp://localhost:8091"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>