
.vs/Pacman-Sevices/v16/.suo

DataAccess/bin/Debug/

DataAccess/obj/Debug/

.vs/Pacman-Sevices/v16/Server/sqlite3/

Host/bin/Debug/

Host/obj/Debug/

Pacman-Sevices/bin/Debug/

Pacman-Sevices/obj/Debug/
